extends layout

block content
    h1= title
    h2='Ingredients:'
    ul
      li='5 teaspoons yeast'
      li='5 cups flour'
      li='4 tablespoons vegetable oil'
      li='2 tablespoons sugar'
      li='2 teaspoons salt'
      li='2 cups hot water'
      li='1/4 cup pizza sauce'
      li='3/4 cup mozzarella cheese'
    h2='Instructions:'
    ol
      li="Add hot water to yeast in a large bowl and let sit for 15 minutes."
      li="Mix in oil, sugar, salt, and flour and let sit for 1 hour."
      li="Knead the dough and spread onto a pan."
      li="Spread pizza sauce and sprinkle cheese."
      li="Add any optional toppings as you wish."
      li="Bake at 400 deg Fahrenheit for 15 minutes."
    a#likebutton(href="#" class="btn btn-info btn-lg")
        span(class='glyphicon glyphicon-heart-empty') Like
    p#counter    
    button#flagbutton Flag as Inappropriate    