extends layout

block content
    h1= title
    h2='Ingredients:'
    ul
      li='3 skinless, boneless chicken breasts, halved lengthwise'
      li='1/2 cup of mayonnaise'
      li='1 T lemon zest'
      li='1 T lemon juice'
      li='1 1/2 t curry powder'
      li='1/4 t salt'
      li='2 ripe mangoes, diced'
      li='1/4 c dried cranberries'
      li='2 green onions, thinly sliced'
      li='1 celery stalk, finely chopped'
      li='6 leaves Boston lettuce'
      li='6 English muffins, toasted'
    h2='Instructions:'
    ol
      li='Arrange chicken in a single layer in a large pot.'
      li='Add water to just cover.'
      li='Bring to a boil over medium-high.'
      li='Flip chicken, reduce heat to medium and simmer until cooked, about 6 more min.'
      li='Cool.'
      li='Stir mayo with lemon zest, juice, curry and salt in large bowl.'
      li='Using 2 forks, shred chicken, then stir into mayo mixture with mango, cranberries, green onions and celery.'
      li='Divide among muffins with lettuce leaves.'
      li='Sandwich with tops.'
    a#likebutton(href="#" class="btn btn-info btn-lg")
      span(class='glyphicon glyphicon-heart-empty') Like
    p#counter  
    button#flagbutton Flag as Inappropriate  
      