extends layout

block content
    h1= title
    h2='Ingredients:'
    ul
      li='1 c raisins'
      li='1 c water'
      li='3/4 c shortening'
      li='1 1/2 cups sugar'
      li='2 1/2 cups flour'
      li='1 t baking soda'
      li='1 t salt'
      li='1 t cinnamon'
      li='1/2 t baking powder'
      li='1/2 t cloves'
      li='2 cups oats'
      li='1/2 c chopped nuts'
    h2='Instructions:'
    ol
      li='Simmer raisins and water over medium heat until raisins are plump, about 15 minutes.'
      li='Drain raisins, reserving the liquid.'
      li='Add enough water to reserved liquid to measure 1/2 cup.'
      li='Heat oven to 400°.'
      li='Mix thoroughly shortening, sugar, eggs and vanilla.'
      li='Stir in reserved liquid.'
      li='Blend in remaining ingredients.'
      li='Drop dough by rounded teaspoonfuls about 2 inches apart onto ungreased baking sheet.'
      li='Bake 8 to 10 minutes or until light brown.'
      li='About 6 1/2 dozen cookies.'
      a(href="#" class="btn btn-info btn-lg")
        span(class='glyphicon glyphicon-heart-empty') Like
    