extends layout

block content
  h1= title
  h2='Ingredients:'
  ul
    li='1 beef roast'
    li='1 package brown gravy mix'
    li='1 package dried Italian salad dressing mix'
    li='1 package dry ranch dressing mix'
    li='1/2 cup of water'
  h2='Instructions:'
  ol
    li='Place beef roast in crock pot.'
    li='Mix the dried mixes together in a bowl and sprinkle over the roast.'
    li='Pour the water around the roast.'
    li='Cook on low for 7-9 hours.'